#sloupek {
  margin-top: 10px;
}

#tabuleR{
  padding: 20px;
  margin-top: 50px;
}

.container {
  margin-top:70px;
  width: 1760px;
  padding-bottom: 30px;
}

h1 {
  font-size: 50px;
  margin-left: 210px;
  font-weight: bold;
}

footer {
  text-align: center;
  padding: 10px;
  background-color:#202020;
  color: white;
  font-size: 20px;
  height: 70px
}

.buttonR {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

h2 {
 font-size: 40px;
}

#Microsoft-procenta {
  font-size: 30px;
}

#Apple-procenta {
  font-size: 30px;
}

#IBM-procenta {
  font-size: 30px;
}

#prvni {
    padding: 30px;
}

#druhy {
    padding: 30px;
}

#treti {
    padding: 30px;
}

#real {
    padding: 20x;
}

#historie {
    padding: 20px;
}

.buttonF {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

.format {
  font-size: 22px;
}

.footer-login {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#tabulka {
  border-collapse: collapse;
  width: 1400px;
  align: center;
}

#tabulka td, #customers th {
  padding: 8px;
}

#tabulka tr:nth-child(even){background-color: #f2f2f2;}

#tabulka tr:hover {background-color: #ddd;}

#tabulka th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
  text-indent: 20px;
  font-size: 21px
}

#tabulka td {
  text-indent: 20px;
  font-size: 16px
}

#real-tabulka {
  border-collapse: collapse;
  width: 220px;
  align: center;
}

#real-tabulka td, #customers th {
  padding: 8px;
}

#real-tabulka tr:nth-child(even){background-color: #f2f2f2;}

#real-tabulka tr:hover {background-color: #ddd;}

#real-tabulka th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
  text-indent: 20px;
  font-size: 21px
}

#real-tabulka td {
  text-indent: 20px;
  font-size: 16px
}

.user_card {
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    background:  #4CAF50;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.login_btn {
    width: 100%;
    background: #33ccff !important;
    color: white !important;
}
.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.login_container {
    padding: 0 2rem;
}
.input-group-text {
    background: #f7ba5b !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}


.form_container {
    margin-top: 20px;
}

#form-title{
    color: #fff;

}

.login_btn {
    width: 100%;
    background: #33ccff !important;
    color: white !important;
}
.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.login_container {
    padding: 0 2rem;
}
.input-group-text {
    background: #f7ba5b !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

#messages{
    background-color: grey;
    color: #fff;
    padding: 10px;
    margin-top: 10px;
}

.detail {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.clanek {
  padding: 18px;
  margin-top: 20px;
  background-color: #90EE90;
}

.nadpis-clanek {
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

.text-clanek {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.form-div{
  text-align: center;
  padding-top: 30px;
}

#stock {
    width: 30%;
    padding: 10px;
    border: 2px solid black;
    margin-bottom: 5px;
    margin-top: 10px
}

#tlacitko-vyhledavac{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

#vitej {
    text-color: white;
}

.vyhledavac {
    text-align: center;
    padding: 20 px;
}

#symbol{
    width: 300px;
    padding: 8px;
    border: 2px solid black;
}

.leva {
    padding: 10px;
}

#tabu {
  border-collapse: collapse;
  width: 1400px;
  align: center;
}

#tabu td, #customers th {
  padding: 8px;
}

#tabu tr:nth-child(even){background-color: #f2f2f2;}

#tabu tr:hover {background-color: #ddd;}

#tabu th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
  text-indent: 20px;
  font-size: 21px
}

#tabu td {
  text-indent: 20px;
  font-size: 16px
}





