{% extends 'base.html' %}
{% block content %}
{% load static %}
<link  href="{%static '/css/akcie.css' %}" rel="stylesheet" type="text/css"  media="screen" >
<script src="{%static '/js/akcie.js' %}"></script>
<div class="container">
    <div class="col-sm-8">
            <table class="tabulka">
             <tr>
              <th>Název</th>
              <th>Kurz</th>
              <th>Změna</th>
              <th>Objem</th>
            </tr>
            <tr>
              <td id="rad1-1"></td>
              <td id="rad1-2"></td>
              <td id="rad1-3"></td>
              <td id="rad1-4"></td>
            </tr>
            <tr>
              <td id="rad2-1"></td>
              <td id="rad2-2"></td>
              <td id="rad2-3"></td>
              <td id="rad2-4"></td>
            </tr>
            <tr>
              <td id="rad3-1"></td>
              <td id="rad3-2"></td>
              <td id="rad3-3"></td>
              <td id="rad3-4"></td>
            </tr>
            <tr>
              <td id="rad4-1"></td>
              <td id="rad4-2"></td>
              <td id="rad4-3"></td>
              <td id="rad4-4"></td>
            </tr>
            <tr>
              <td id="rad5-1"></td>
              <td id="rad5-2"></td>
              <td id="rad5-3"></td>
              <td id="rad5-4"></td>
            </tr>
            <tr>
              <td id="rad6-1"></td>
              <td id="rad6-2"></td>
              <td id="rad6-3"></td>
              <td id="rad6-4"></td>
            </tr>
            <tr>
              <td id="rad7-1"></td>
              <td id="rad7-2"></td>
              <td id="rad7-3"></td>
              <td id="rad7-4"></td>
            </tr>
            <tr>
              <td id="rad8-1"></td>
              <td id="rad8-2"></td>
              <td id="rad8-3"></td>
              <td id="rad8-4"></td>
            </tr>
            <tr>
              <td id="rad9-1"></td>
              <td id="rad9-2"></td>
              <td id="rad9-3"></td>
              <td id="rad9-4"></td>
            </tr>
            <tr>
              <td id="rad10-1"></td>
              <td id="rad10-2"></td>
              <td id="rad10-3"></td>
              <td id="rad10-4"></td>
            </tr>
        </table>
    </div>
    <div class="col-sm-4">
        <div class="prava">
            <table class="mala-tabulka">
                <tr>
                  <th>Název</th>
                  <th>Cena</th>
                  <th>Změna</th>
                </tr>
                <tr>
                  <td id="ra1-1"></td>
                  <td id="ra1-2"></td>
                  <td id="ra1-3"></td>
                </tr>
                <tr>
                  <td id="ra2-1"></td>
                  <td id="ra2-2"></td>
                  <td id="ra2-3"></td>
                </tr>
                <tr>
                  <td id="ra3-1"></td>
                  <td id="ra3-2"></td>
                  <td id="ra3-3"></td>
                </tr>
                <tr>
                  <td id="ra4-1"></td>
                  <td id="ra4-2"></td>
                  <td id="ra4-3"></td>
                </tr>
                <tr>
                  <td id="ra5-1"></td>
                  <td id="ra5-2"></td>
                  <td id="ra5-3"></td>
                </tr>
            </table>
        </div>
        <div class="prava">
            <table class="mala-tabulka">
                <tr>
                  <th>Název</th>
                  <th>Cena</th>
                  <th>Změna</th>
                </tr>
                <tr>
                  <td id="r1-1"></td>
                  <td id="r1-2"></td>
                  <td id="r1-3"></td>
                </tr>
                <tr>
                  <td id="r2-1"></td>
                  <td id="r2-2"></td>
                  <td id="r2-3"></td>
                </tr>
                <tr>
                  <td id="r3-1"></td>
                  <td id="r3-2"></td>
                  <td id="r3-3"></td>
                </tr>
                <tr>
                  <td id="r4-1"></td>
                  <td id="r4-2"></td>
                  <td id="r4-3"></td>
                </tr>
                <tr>
                  <td id="r5-1"></td>
                  <td id="r5-2"></td>
                  <td id="r5-3"></td>
                </tr>
            </table>
        </div>
    </div>
</div>
<footer class="footer-login">
  <div class="footer-copyright text-center py-3">
    © František Švec
  </div>
</footer>
{% endblock content %}