{% extends 'base.html' %}

<script>
{% block jquery %}
var endpoint = 'api/data'
var Labels = []
var Data = []
var Label = ""
$.ajax({
    method: "GET",
    url: endpoint,
    success: function(data){
        Labels = data.labels
        Label = data.label
        Data = data.close_data
        nastavGraf()
    },
    error: function(error_data){
        console.log("error")
        console.log(error_data)
    }
})

function nastavGraf(){
     var ctx = document.getElementById('MSFT');
  var myChart = new Chart(ctx, {
            type: 'line',
            data: {
    labels: Labels,
    datasets: [{
        data: Data,
        label: Label,
        borderColor: "#3e95cd",
        fill: false
      }]
  },





        })
}
{% endblock %}
</script>
{% block content %}
<div class="container">
    <h1>Akcie</h1>
    <hr>
    <div class="chart-container">
        <h2 class="center">Microsoft</h2>
        <button class="button button1">Minuty</button>
        <button class="button button2">Dny</button>
        <button class="button button2">Týdny</button>
        <canvas id="MSFT" width="400" height="200"></canvas>
    </div>
</div>




{% endblock content %}
