{% extends 'base.html' %}
{% block content %}
<div class="header">
  <a href="#default" class="Nadpis">Stránka o akciích</a>
  <div class="header-right">
    <a class="active" href="#home">Home</a>
    <a href="#login">Přihlášení</a>
  </div>
</div>
<div class="container">
    <h1>Aktuálně z trhu</h1>
    <hr>
    <div class="row">
          <div class="col-sm-8">
             <canvas id="Realtime" width="1000" height="300"></canvas>
          </div>
          <div class="col-sm-4">
              <table style="width:100%">
              <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Age</th>
              </tr>
              <tr>
                <td>Jill</td>
                <td>Smith</td>
                <td>50</td>
              </tr>
              <tr>
                <td>Eve</td>
                <td>Jackson</td>
                <td>94</td>
              </tr>
              <tr>
                <td>John</td>
                <td>Doe</td>
                <td>80</td>
              </tr>
            </table>
          </div>
     </div>
    <h4>Historické data<h4>
        <p>Zvolte formát:</p>
     <div class="container">
         <button onclick="Hodiny()">Hodiny</button>
         <button onclick="Den()">Dny</button>
         <button onclick="Tydny()">Týdny</button>
     </div>
        <div class="row">
            <div class="col-md-4">
                <h2 align="center">Microsoft</h2>
                <p align="center" id="Microsoft-procenta"></p>
                <hr>
                <canvas id="MSFT" width="600" height="400"></canvas>
            </div>
            <div class="col-md-4">
                <h2 align="center">IBM</h2>
                <p align="center" id="IBM-procenta"></p>
                <hr>
                <canvas id="IBM" width="600" height="400"></canvas>
            </div>
            <div class="col-md-4">
                <h2 align="center">Apple</h2>
                 <p align="center" id="Apple-procenta"></p>
                <hr>
                <canvas id="AAPL" width="600" height="400"></canvas>
            </div>
        </div>
     <div class="row">
         <h1 align="center">Přehled</h1>
        <div class="col-md-6">
            <h2 align="center">Srovnání</h2>
            <hr>
            <canvas id="prehled" width="800" height="600"></canvas>
        </div>
         <div class="col-md-6">
            <h2 align="center">Průměrný prodej akcií</h2>
            <hr>
            <canvas id="volume" width="800" height="600"></canvas>
        </div>
     </div>
</div>
{% endblock content %}

