{% extends 'base.html' %}
{% block content %}
<div id="hlavni-kurzy">
    <div class="container">
        <table id="kurzy">
          <tr>
            <th>Měna</th>
            <th>Země</th>
            <th>Množství</th>
            <th>Kurz</th>
            <th>Změna</th>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </table>

    </div>
</div>
<footer class="footer-login">
<div class="footer-copyright text-center py-3">
  © František Švec
</div>
</footer>
{% endblock content %}