{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="form-div">
        <h2 align="center">Zadejte akcii kterou chcete vyhledat</h2>
        <form method="GET">
            <label for="stock"></label>
            <input type="text" name="stock" id="stock" placeholder="Název akcie"><br>
            <input id="tlacitko-vyhledavac" type="submit" value="Submit" />
        </form>
    </div>
</div>
<footer class="footer-login">
<div class="footer-copyright text-center py-3">
  © František Švec
</div>
</footer>
{% endblock content %}